#NyClock {
  background-color: rgb(236, 232, 232);
  position: fixed;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  top: 0px;
}
#Clock {
  background-color: rgb(236, 232, 232);
  position: fixed;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  left: 0px;
  top: 16px;
}

#Upmain {
  height: 25px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#Upmain2 {
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

#Sche {
  border: 3px solid black;
  display: flex;
  margin: 10px 5px 5px 5px;
}

#Mon {
  margin: 4px;
  border-right: 1px dashed black;
}
#Tue {
  margin: 4px;
  border-right: 1px dashed black;
}
#Wed {
  margin: 4px;
  border-right: 1px dashed black;
}
#Thu {
  margin: 4px;
  border-right: 1px dashed black;
}
#Fri {
  margin: 4px;
  border-right: 1px dashed black;
}

#eco_Cal {
  margin: 20px;
}

#major_indi {
  margin: 20px;
  bottom: 20px;
}

#RealTimeCal {
  margin: 5px;
  height: 100vh;
  width: 100%;
}
